<h1>Resend confirmation instructions</h1>

<%= form_for :user, Routes.user_confirmation_path(@conn, :create), fn f -> %>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Resend confirmation instructions" %>
  </div>
<% end %>

<p>
  <%= link "Register", to: Routes.user_registration_path(@conn, :index) %> |
  <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
</p>
